@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 5px;
    height: 1px;
    position: absolute;
    margin-right: -500px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #56565680;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #1C1C1C;
    border-radius: 100vh;
    border: 1px solid #565656;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1C1C1C90;
  }
}